.doc {
	font-size: 16px;
	line-height: 1.5;
	word-wrap: break-word;
	* {
	    box-sizing: border-box;
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight: 600;
		line-height: 1.25;
	}
	h1, h2 {
		margin-top: 24px;
		margin-bottom: 14px;
	}
	h3, h4, h5, h6 {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	a {
		color: c(6);
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	blockquote, ol, p, pre, table, ul {
		margin: 0 0 16px;
	}
	blockquote {
		padding: 0 0 0 1em;
		border-left: solid c(8) 4px;
		blockquote, ol, p, pre, table, ul {
			margin: 0 0 10px;
		}
	}
	ul, ol {
		padding-left: 2em;
	}
	ul[data-type="task list"] {
		list-style: none;
	}
	table {
		display: block;
		width: 100%;
		width: -webkit-max-content;
		width: -moz-max-content;
		width: max-content;
		max-width: 100%;
		overflow: auto;

		border-spacing: 0;
		border-collapse: collapse;

		td, th {
			padding: 6px 13px;
			border: 1px solid c(4);
		}
	}
	code {
		color: c(7);
		font-size: 0.9rem;
	}
	img {
		border-radius: 4px;
	}
	pre {
		tab-size: 2;
	}
}
