@import 'main';
.main > .cont {
	display: flex;
	flex-direction: column;
	justify-content: center;
	> * {
		text-align: center;
		margin: 4px auto;
	}
	img {
		width: 80%;
		max-width: 460px;
		border-radius: 6px;
	}
	.a {
		font-size: 40px;
	}
	.b {
		font-size: 18px;
	}
	.c {
		margin-top: -4px;
		font-size: 14px;
	}
}
