@import 'main';
.main {
	.cont {
		span {
			display: block;
			text-align: center;
		}
	}
	.btns {
		margin-top: 32px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		> * {
			background-color: $col2;
			text-decoration: none;
			padding: 6px 12px;
			margin: 4px 8px;
			font-size: 19px;
			color: $col1;
		}
	}
}
